<div class="image-create-form">
  <h1 class="text-2xl">Add Image Memories</h1>

  <!-- Form Container -->
  <form [formGroup]="imageForm" (ngSubmit)="onSubmit()" class="mt-4">
    <!-- Date Picker for Group Image -->
    <nz-form-item>
      <nz-form-label nzRequired [nzFor]="'date'" nzSpan="4">Group Date</nz-form-label>
      <nz-form-control [nzErrorTip]="dateValueTpl">
        <nz-date-picker
          formControlName="date"
          [nzPlaceHolder]="'Select Date'"
        ></nz-date-picker>
        <ng-template #dateValueTpl let-control>
            <ng-container #dateValueTpl *ngIf="!imageForm.get('date')?.value">
              <p>{{ 'This field is require' }}</p>
            </ng-container>
          </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Input for Description -->
    <nz-form-item>
      <nz-form-label nzRequired [nzFor]="'desc'"  nzSpan="4">Description</nz-form-label>
      <nz-form-control [nzErrorTip]="descValueTpl">
        <input
          nz-input
          formControlName="desc"
          placeholder="Enter a description"
        />
        <ng-template #descValueTpl let-control>
            <ng-container #descValueTpl *ngIf="!imageForm.get('desc')?.value">
                <p>{{ 'This field is require' }}</p>
            </ng-container>
          </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- List of Images -->
    <nz-form-item>
        <nz-form-label [nzFor]="'images'" nzSpan="4">Image List</nz-form-label>
        <nz-form-control>
        <input type="file" (change)="onFileChange($event)" multiple />
        </nz-form-control>
   </nz-form-item>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="onDestroyModal()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="imageForm.invalid" (click)="onSubmit()">Submit</button>
  </div>
  </form>
</div>
