<div class="login-container">
  <div class="login-form">
    <h2 class="text-2xl font-bold text-center mb-4">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Email input -->
      <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="emailValueTpl">
          <nz-form-label nzSpan="6" [nzFor]="'email'" nzRequired
            >Email</nz-form-label
          >
          <input
            nz-input
            formControlName="email"
            id="email"
            placeholder="Enter your email"
            [ngClass]="{ 'input-focus': emailFocused }"
            (focus)="onFocusEmail()"
            (blur)="onBlurEmail()"
          />
          <ng-template #emailValueTpl let-control>
            <ng-container *ngIf="control?.hasError('required')">
              <p>Email is required</p>
            </ng-container>
            <ng-container *ngIf="control?.hasError('email')">
              <p>Please enter a valid email address</p>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Password input -->
      <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="passwordValueTpl">
          <nz-form-label nzSpan="6" [nzFor]="'password'" nzRequired
            >Password</nz-form-label
          >
          <input
            nz-input
            formControlName="password"
            id="password"
            type="password"
            placeholder="Enter your password"
            [ngClass]="{ 'input-focus': passwordFocused }"
            (focus)="onFocusPassword()"
            (blur)="onBlurPassword()"
          />
          <ng-template #passwordValueTpl let-control>
            <ng-container *ngIf="control?.hasError('required')">
              <p>Password is required</p>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Submit button -->
      <button
        nz-button
        [nzType]="'primary'"
        class="w-full mt-4 pb-3"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
