<app-main-layout></app-main-layout>
<audio #audioPlayer loop>
  <source src="../../assets/video/video.mp4" type="audio/mpeg" />
  Your browser does not support the audio tag.
</audio>
<div class="max-w-7xl mx-auto p-6">
  <div class="flex justify-start">
    <button class="duck-active mb-3 mr-3" (click)="addNewImage()">
      Add Memories
    </button>
    <button class="duck-active mb-3 mr-3" (click)="playAudio()">Play music</button>
    <button class="duck-active mb-3" (click)="logout()">Logout</button>
  </div>
  <div *ngFor="let gallery of dataSource()">
    <div
      class="bg-pink-200 p-4 rounded-lg mb-4 shadow-md mt-4 lg:text-left text-center flex justify-between"
    >
      <h2 class="text-lg font-semibold text-gray-900 mb-0">
        {{ gallery.date | date : "dd/MM/yyyy" }} - {{ gallery.desc }}
      </h2>
      <div>
        <button (click)="updateGroupImage(gallery.id)" class="button-edit">
          <span nz-icon nzType="edit" nzTheme="outline"></span> Edit
        </button>
        <button (click)="deleteGroup(gallery.id)" class="button-delete-2">
          X
        </button>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <div
        *ngFor="let product of gallery.imageDetails"
        class="rounded-lg shadow-lg relative hover:scale-110 transition-transform duration-700 ease-in-out"
      >
        <img
          class="w-full h-full object-cover"
          [src]="product.imageLink"
          [alt]=""
        />
        <button (click)="deleteImg(product.id)" class="button-delete">X</button>
      </div>
    </div>
  </div>
</div>
